html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.round {
    margin-bottom: 20px;
}

.matches {
    display: flex;
    flex-direction: column;
}

.match {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.team {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
}

.team:nth-child(odd) {
    background-color: #f0f0f0;
}
