@using GameHub.Domain.Entities
@model IEnumerable<GameHub.Application.Tournament.TournamentDto>

@{
    ViewData["Title"] = "Zakończone turnieje";
}

<h1>Zakończone turnieje</h1>

<div class="row">
    @foreach (var item in Model.Where(t => t.TournamentState == TournamentState.Ended))
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Game.GameName</h6>
                <p class="card-text">@item.StartDate.ToShortDateString()</p>
                <p class="card-text">Zakończony</p>
                <a class="btn btn-primary" asp-controller="Tournament" asp-action="Details" asp-route-encodedName="@item.EncodedName">Szczegóły</a>
            </div>
        </div>
    }
</div>
